html, body {
    width: 100%;
    height: 100%;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://jooinn.com/images/storm-clouds-44.jpg)
}

p, td, h1, h2 {
    color: whitesmoke;
}
@media only screen and (max-width: 800px) {
    #app{
        position:relative;
        width:100%;
        height:100%;
        padding:0;
        overflow:auto
    }
}