#current-div {
    position: relative;
  
}
#current-div > p,h1,h2{
    margin:5px;
}

    #current-div > h1 {
        font-size: 70px;
        font-weight: lighter;
        margin-top:0;
        margin-bottom:0;
    }
