#current-div {
    position: relative;
    top: 0;
    text-align: center;
}
    #current-div > p{
        margin: 5px;
        display: inline-block;
    }

    #current-div > h2, h1 {
        margin-top: 0;
        width: 100%;
        text-align: center;
    }

    #current-div > img {
        width: 100px;
    }

    #current-div > h1 {
        font-size: 70px;
        font-weight: lighter;
        margin-top: 0;
        margin-bottom: 0;
    }

#otherCurrentdata > p {
    font-size:15px;
    display: inline-block;
    padding:5px;
}

    #otherCurrentdata > p:not(:first-child){
        border-left: solid 1px;
    }
