body {
    
}
#current-div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#current-div > p {
    text-align: center;
    width:unset;
}

#current-div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
