#fivedaysdiv {
    white-space: nowrap;
    overflow: auto;
   padding:5px;
}
.fivedayOne {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border:solid 1px white;
    margin-top:5px;
    margin-left:5px;
    
}
.fivedayOne:hover{
    cursor:pointer;
}
.fivedayOne > p{
    margin:5px;
}
