#forcast-main {
    position: relative;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding: 10px;
}

    #forcast-main > h2 {
        margin: 0;
        padding-bottom: 5px;
        border-bottom: solid 1px white;
    }
