body {
}

#forcast-div{
    overflow-x:auto;
    display:flex;
}
.forcast-data{
   float:left;
   width:auto;
   margin-left:10px;
}
.forcast-data > p{
    text-align:center;
    margin-top:0;
    margin-bottom:10px;
}