.onedaydivmain {
    white-space: nowrap;
    overflow: auto;
}

.onedaydiv {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

    .onedaydiv:not(:first-child) {
        padding-left: 5px;
        border-left: dashed 1px black;
    }

    .onedaydiv > p {
        margin: 0;
    }

    .onedaydiv > img {
        width: 30px;
    }
